@using Rozklad.Core
@using Rozklad.Repository.Dto.CabinetDto
@using Rozklad.Repository.Dto.ClassDto
@using Rozklad.Repository.Dto.DisciplineDto
@using Rozklad.Repository.Dto.PupilDto

@using Rozklad.Repository.Dto.TeacherDto
@using Rozklad.Repository.Dto.TimetableDto


@model TimetableReadDto

@{
    var cabinet = ViewBag.Cabinets as IEnumerable<Cabinet>;
    var clas = ViewBag.Classes as IEnumerable<ClassRoom>;
    var discipline = ViewBag.Disciplines as IEnumerable<Discipline>;
    var lesson = ViewBag.Lessons as IEnumerable<Lesson>;
    var pupil = ViewBag.Pupils as IEnumerable<Pupil>;
     var teacher = ViewBag.Teachers as IEnumerable<Teacher>;
      Layout = "/Views/Shared/_DashminBlankLayout.cshtml";
    
}


<meta name='viewport' content='width=device-width,initial-scale=1'/>
<meta content='true' name='HandheldFriendly'/>
<meta content='width' name='MobileOptimized'/>
<meta content='yes' name='apple-mobile-web-app-capable'/>
<div class="row">
    <form asp-action="Edit" class="col-md-4">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CabinetName" class="control-label">Cabinet</label>
            <select id="cabinetName" name="cabinetName" class="form-select">
                @foreach (var u in cabinet)
                {
                    var selected = @Model.CabinetName == u.CabinetName ? true : false;
                    <!option value="@u.CabinetName" @(selected ? "selected" : "" )>@u.CabinetName</!option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="DisciplineName" class="control-label">DisciplineName</label>
            <select id="disciplineName" name="disciplineName" class="form-select">
                @foreach (var u in lesson)
                {
                    var selected = @Model.DisciplineName == u.Discipline.DisciplineName ? true : false;
                    <!option value="@u.Discipline.DisciplineName" @(selected ? "selected" : "" )>@u.Discipline.DisciplineName</!option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="TeacherName" class="control-label">TeacherName</label>
            <select id="teacherName" name="teacherName" class="form-select">
                @foreach (var u in teacher)
                {
                    var selected = @Model.TeacherName == u.TeacherName ? true : false;
                    <!option value="@u.TeacherName" @(selected ? "selected" : "" )>@u.TeacherName</!option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="ClassRoomName" class="control-label">ClassRoomName</label>
            <input asp-for="ClassRoomName" class="form-control" />
            <span asp-validation-for="ClassRoomName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PupilName" class="control-label">PupilName</label>
            <select id="pupilName" name="pupilName" class="form-select" required>
                @foreach (var u in pupil)
                {
                    var selected = @Model.PupilName == u.PupilName ? true : false;
                    <!option value="@u.PupilName" @(selected ? "selected" : "" )>@u.PupilName</!option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="LessonNumber" class="control-label">LessonNumber</label>
            <input asp-for="LessonNumber" class="form-control" />
            <span asp-validation-for="LessonNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Day" class="control-label">Day</label>
            <input asp-for="Day" class="form-control" />
            <span asp-validation-for="Day" class="text-danger"></span>
        </div>

        
        <div class="form-group">
            <label asp-for="TimeStart" class="control-label">Початок уроку</label>
            <input asp-for="TimeStart" class="form-control" />
            <span asp-validation-for="TimeStart" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TimeEnd" class="control-label">Закінчення уроку</label>
            <input asp-for="TimeEnd" class="form-control" />
            <span asp-validation-for="TimeEnd" class="text-danger"></span>
        </div>
       
        <hr />

        <div class="form-group">
            <button value="Update" class="btn btn-primary" type="submit">Оновити</button>
        </div>
    </form>
</div>

<div class="float-end">
    <a href="/Home/Index" class="btn btn-outline-primary">Назад до списку</a>
</div>

@section Scripts {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            $(".form-select").select2();
        });
    </script>
}